<!-- Navbar -->
<app-header></app-header>
<hr>

<!-- -------------------- -->

<section class="text-gray-700 body-font md:px-16 sm:px-8">
    <div class="container px-5 py-8 mx-auto">
        <div class="flex flex-col text-center w-full mb-10">
            <h1 class="text-2xl font-medium title-font mb-4 text-gray-900 tracking-widest">MOCK INTERVIEW</h1>
            <div class="text-center">
                <span class="inline-block h-1 w-16 rounded bg-red-600 my-2"></span>
            </div>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-lg">
                Get Real time In-person interview by experienced professionals placed in those dream companies of yours.
        </div>
        <div class="flex flex-wrap">
            <div class="w-full md:w-2/5 xl:w-2/5 p-5">

                <!--Form Card-->
                <div class="bg-black border-transparent rounded-lg shadow-lg">
                    <div class="p-5">
                        <form class="w-full max-w-lg">
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                                        for="question">
                                        Enter Your Name
                                    </label>
                                    <input
                                        class="appearance-none block w-full text-gray-700 border border-red-600 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        type="text" placeholder="Enter Name here">
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                                        for="question">
                                        College Name
                                    </label>
                                    <input
                                        class="appearance-none block w-full  text-gray-700 border border-red-600 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        type="text" placeholder="Enter College Name here">
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                                        for="question">
                                        Branch
                                    </label>
                                    <input
                                        class="appearance-none block w-full  text-gray-700 border border-red-600 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        type="text" placeholder="Enter Branch here">
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                                        for="grid-option4">
                                        Company
                                    </label>
                                    <select
                                        class="cursor-pointer appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                        <option>Choose Company ↓</option>
                                        <option>Cognizant</option>
                                        <option>TCS</option>
                                        <option>Wipro</option>
                                        <option>Infosys</option>
                                        <option>Capgemini</option>
                                        <option>Accenture</option>
                                        <option>Others</option>
                                    </select>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-3/5 px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                                        for="grid-option3">
                                        Date
                                    </label>
                                    <input
                                        class="appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        type="date" placeholder="Option 3">
                                </div>

                                <div class="w-full md:w-2/5 px-3 mb-6 md:mb-0">
                                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                                        for="grid-option4">
                                        Time
                                    </label>
                                    <select
                                        class="cursor-pointer appearance-none block w-full bg-white text-gray-700 border border-gray-200 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                        <option>Choose Time ↓</option>
                                        <option>5:00 - 6:00 PM</option>
                                        <option>6:00 - 7:00 PM</option>
                                        <option>7:00 - 8:00 PM</option>
                                        <option>8:00 - 9:00 PM</option>
                                        <option>9:00 - 10:00 PM</option>
                                        <option>10:00 - 11:00 PM</option>
                                        <option>11:00 - 12:00 PM</option>
                                    </select>
                                    <div
                                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-2">
                                <div class="w-full px-3">
                                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2"
                                        for="question">
                                        Upload Your Resume
                                    </label>
                                    <input
                                        class="appearance-none block w-full bg-white text-gray-900 border border-red-600 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                        type="file" placeholder="Enter Branch here">
                                </div>
                            </div>
                            <div class="text-center mt-3">
                                <button
                                    class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
                                    <span>BOOK NOW</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/Form Card-->
            </div>
            <div class="w-full md:w-3/5 xl:w-3/5 p-5 ">
                <video class="w-full h-full" controls>
                    <source src="mov_bbb.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    Your browser does not support HTML video.
                </video>
            </div>
        </div>

    </div>
</section>
<hr>

<!-- -------------------- -->
<section class="text-gray-700 body-font md:px-16 sm:px-8">
    <div class="container px-5 py-8 mx-auto">
        <div class="text-center ">
            <span class="inline-block h-1 w-16 rounded bg-red-600 my-4"></span>
        </div>
        <p class="text-lg">Research says about 60% of the students gets rejected on their first interview every year
            .Some of many
            reason being
            is them being nervous as they have never appeared a interview before,some having anxiety issues,some dont
            knowing
            what to answer to basic questions and many more.Even the brightest of all gets rejected on interviews .It
            doesn't
            matters how well you are in studies what matters is how you respond on the interview days .So buckle up book
            your
            first interview with us and get confident on your interview day .<br><b>We will make you interview
                READY.</b>
        </p>
    </div>
</section>
<hr>

<!-- ---------- Testimonials -------------- -->

<section class="text-gray-700 body-font md:mx-16 sm:mx-8">
    <div class="container px-5 py-8 mb-10 mx-auto">
        <div class="flex flex-col text-center w-full mb-5">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Testimonials
            </h1>
        </div>
        <div class="text-center mb-5">
            <span class="inline-block h-1 w-16 rounded bg-red-600 my-4"></span>
        </div>
        <div class="carousel bg-gray-100">
            <div class="carousel-inner py-16">
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                    checked="checked">
                <div class="carousel-item p-4">
                    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
                            <path
                                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                            </path>
                        </svg>
                        <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica stumptown
                            taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY
                            tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level
                            coloring book skateboard four loko knausgaard.</p>
                        <span class="inline-block h-1 w-10 rounded bg-red-600 mt-8 mb-6"></span>
                        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">SUNDER PICHAI</h2>
                        <p class="text-gray-500">CEO of Google</p>
                    </div>
                </div>
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item p-4">
                    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
                            <path
                                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                            </path>
                        </svg>
                        <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica stumptown
                            taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY
                            tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level
                            coloring book skateboard four loko knausgaard.</p>
                        <span class="inline-block h-1 w-10 rounded bg-red-600 mt-8 mb-6"></span>
                        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">SHANTANU NARAYEN</h2>
                        <p class="text-gray-500">CEO of Adobe Systems</p>
                    </div>
                </div>
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item p-4">
                    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
                            <path
                                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                            </path>
                        </svg>
                        <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica stumptown
                            taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY
                            tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level
                            coloring book skateboard four loko knausgaard.</p>
                        <span class="inline-block h-1 w-10 rounded bg-red-600 mt-8 mb-6"></span>
                        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">SATYA NADELA</h2>
                        <p class="text-gray-500">CEO of microsoft</p>
                    </div>
                </div>
                <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                <label for="carousel-2" class="carousel-control next control-1">›</label>
                <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                <label for="carousel-3" class="carousel-control next control-2">›</label>
                <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                <label for="carousel-1" class="carousel-control next control-3">›</label>
                <ol class="carousel-indicators">
                    <li>
                        <label for="carousel-1" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet">•</label>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- -------- Footer ----------- -->

<app-footer></app-footer>