<header class="text-gray-700 body-font px-16 shadow-lg">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-600 rounded-full"
                viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-2xl">Prep.in</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">

        </nav>
        <button
            class="inline-flex items-center bg-red-600 border-0 py-1 px-3 mx-2 focus:outline-none hover:bg-red-700  text-base mt-4 md:mt-0 text-white">Log
            In
        </button>
        <button
            class="inline-flex items-center bg-red-600 border-0 py-1 px-3 mx-2 focus:outline-none hover:bg-red-700 text-base mt-4 md:mt-0 text-white">Sign
            Up
        </button>
    </div>
</header>
<hr>

<!-- -------------- -->

<section class="text-gray-700 body-font md:mx-16 sm:mx-8">
    <div class="container px-5 py-16 mx-auto flex flex-wrap">
        <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
            <div class="w-full sm:p-4 px-4 mb-6">
                <h1 class="title-font font-medium text-3xl mb-2 text-gray-900">Get Your First Placement With <span
                        class="text-4xl text-red-600">Prep.in</span></h1>
                <div class="leading-relaxed text-2xl">1 million+ students trust our website for their job preparation.
                </div>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
                <p class="leading-relaxed">Students</p>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                <h2 class="title-font font-medium text-3xl text-gray-900">1.8K</h2>
                <p class="leading-relaxed">Placements</p>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                <h2 class="title-font font-medium text-3xl text-gray-900">1k+</h2>
                <p class="leading-relaxed">Prep Tests</p>
            </div>
            <div class="p-4 sm:w-1/2 lg:w-1/4 w-1/2">
                <h2 class="title-font font-medium text-3xl text-gray-900">25+</h2>
                <p class="leading-relaxed">Companies</p>
            </div>
        </div>
        <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
            <img class="object-cover object-center w-full h-full" height="600" width="300"
                src="assets/images/banner1.jpg" alt="stats">
        </div>
    </div>
</section>
<hr>
<!-- --------------------------- -->

<section class="text-gray-700 body-font md:mx-16 sm:mx-8">
    <div class="container px-5 py-8 mb-10 mx-auto">
        <div class="flex flex-col text-center w-full mb-4">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">What We Offer ?</h1>
        </div>
        <div class="text-center mb-5">
            <span class="inline-block h-1 w-16 rounded bg-red-600 my-4"></span>
        </div>
        <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/3">
                <div class="flex rounded-lg shadow-lg h-full bg-white p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div
                            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-red-600 text-white flex-shrink-0">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                        </div>
                        <h2 class="text-gray-900 text-lg title-font font-medium">Syllabus</h2>
                    </div>
                    <div class="flex-grow">
                        <p class="leading-relaxed text-base">Comapny specific syllabus, notes, video lectures for
                            preparation.</p>
                        <a class="mt-3 text-gray-900 hover:text-red-600 cursor-pointer inline-flex items-center"><b>Learn
                                More</b>
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 md:w-1/3">
                <div class="flex rounded-lg shadow-lg h-full bg-white p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div
                            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-red-600 text-white flex-shrink-0">
                            <i class="fa fa-user-tie" aria-hidden="true"></i>
                        </div>
                        <h2 class="text-gray-900 text-lg title-font font-medium">Mock Interview</h2>
                    </div>
                    <div class="flex-grow">
                        <p class="leading-relaxed text-base">Real time In-Person mock inteview with industry.</p>
                        <a class="mt-3 text-gray-900 hover:text-red-600 cursor-pointer inline-flex items-center"><b>Learn
                                More</b>
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 md:w-1/3">
                <div class="flex rounded-lg shadow-lg  h-full bg-white p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div
                            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-red-600 text-white flex-shrink-0">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <h2 class="text-gray-900 text-lg title-font font-medium">Mock Test</h2>
                    </div>
                    <div class="flex-grow">
                        <p class="leading-relaxed text-base">Company specific mock placement exams with same user
                            interface.</p>
                        <a class="mt-3 text-gray-900 hover:text-red-600 cursor-pointer inline-flex items-center"><b>Learn
                                More</b>
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 md:w-1/3">
                <div class="flex rounded-lg shadow-lg  h-full bg-white p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div
                            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-red-600 text-white flex-shrink-0">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                        <h2 class="text-gray-900 text-lg title-font font-medium">Testimonial</h2>
                    </div>
                    <div class="flex-grow">
                        <p class="leading-relaxed text-base">Placed students testimonials to shape yourself.</p>
                        <a class="mt-3 text-gray-900 hover:text-red-600 cursor-pointer inline-flex items-center"><b>Learn
                                More</b>
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 md:w-1/3">
                <div class="flex rounded-lg shadow-lg  h-full bg-white p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div
                            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-red-600 text-white flex-shrink-0">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </div>
                        <h2 class="text-gray-900 text-lg title-font font-medium">Most Asked Questions</h2>
                    </div>
                    <div class="flex-grow">
                        <p class="leading-relaxed text-base">Branch specific most asked questions in interviews.</p>
                        <a class="mt-3 text-gray-900 hover:text-red-600 cursor-pointer inline-flex items-center"><b>Learn
                                More</b>
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 md:w-1/3">
                <div class="flex rounded-lg shadow-lg h-full bg-white p-8 flex-col">
                    <div class="flex items-center mb-3">
                        <div
                            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-red-600 text-white flex-shrink-0">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <h2 class="text-gray-900 text-lg title-font font-medium">Community</h2>

                    </div>
                    <div class="flex-grow">
                        <p class="leading-relaxed text-base">Get a comminity to discuss with fellow aspirants about
                            results, call letters, joining and all.</p>
                        <a class="mt-3 text-gray-900 hover:text-red-600 cursor-pointer inline-flex items-center"><b>Learn
                                More</b>
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

<!-- ------------------------- -->

<section class="text-gray-700 body-font md:mx-16 sm:mx-8">
    <div class="container px-5 py-8 mb-10 mx-auto">
        <div class="flex flex-col text-center w-full mb-5">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Prepare For Your Dream Company
            </h1>
        </div>
        <div class="text-center mb-5">
            <span class="inline-block h-1 w-24 rounded bg-red-600 my-4"></span>
        </div>
        <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 md:w-1/3 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg shadow-lg">
                    <h2 class="title-font font-medium text-3xl text-gray-900 hover:text-red-600 cursor-pointer">
                        COGNIZANT</h2>
                </div>
            </div>
            <div class="p-4 md:w-1/3 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg shadow-lg">
                    <h2 class="title-font font-medium text-3xl text-gray-900 hover:text-red-600 cursor-pointer">
                        TCS</h2>
                </div>
            </div>
            <div class="p-4 md:w-1/3 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg shadow-lg">
                    <h2 class="title-font font-medium text-3xl text-gray-900 hover:text-red-600 cursor-pointer">
                        WIPRO</h2>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 md:w-1/3 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg shadow-lg">
                    <h2 class="title-font font-medium text-3xl text-gray-900 hover:text-red-600 cursor-pointer">
                        INFOSYS</h2>
                </div>
            </div>
            <div class="p-4 md:w-1/3 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg shadow-lg">
                    <h2 class="title-font font-medium text-3xl text-gray-900 hover:text-red-600 cursor-pointer">
                        CAPGEMINI</h2>
                </div>
            </div>
            <div class="p-4 md:w-1/3 w-full">
                <div class="border-2 border-gray-200 px-4 py-6 rounded-lg shadow-lg">
                    <h2 class="title-font font-medium text-3xl text-gray-900 hover:text-red-600 cursor-pointer">
                        ACCENTURE</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- ------------------------ -->

<section class="text-gray-700 body-font md:mx-16 sm:mx-8">
    <div class="container px-5 py-8 mb-10 mx-auto">
        <div class="flex flex-col text-center w-full mb-5">
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Testimonials
            </h1>
        </div>
        <div class="text-center mb-5">
            <span class="inline-block h-1 w-16 rounded bg-red-600 my-4"></span>
        </div>
        <div class="carousel">
            <div class="carousel-inner py-16">
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                    checked="checked">
                <div class="carousel-item p-4">
                    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
                            <path
                                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                            </path>
                        </svg>
                        <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica stumptown
                            taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY
                            tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level
                            coloring book skateboard four loko knausgaard.</p>
                        <span class="inline-block h-1 w-10 rounded bg-red-600 mt-8 mb-6"></span>
                        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">SUNDER PICHAI</h2>
                        <p class="text-gray-500">CEO of Google</p>
                    </div>
                </div>
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item p-4">
                    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
                            <path
                                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                            </path>
                        </svg>
                        <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica stumptown
                            taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY
                            tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level
                            coloring book skateboard four loko knausgaard.</p>
                        <span class="inline-block h-1 w-10 rounded bg-red-600 mt-8 mb-6"></span>
                        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">SHANTANU NARAYEN</h2>
                        <p class="text-gray-500">CEO of Adobe Systems</p>
                    </div>
                </div>
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="carousel-item p-4">
                    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
                            <path
                                d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                            </path>
                        </svg>
                        <p class="leading-relaxed text-lg">Edison bulb retro cloud bread echo park, helvetica stumptown
                            taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY
                            tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level
                            coloring book skateboard four loko knausgaard.</p>
                        <span class="inline-block h-1 w-10 rounded bg-red-600 mt-8 mb-6"></span>
                        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">SATYA NADELA</h2>
                        <p class="text-gray-500">CEO of microsoft</p>
                    </div>
                </div>
                <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                <label for="carousel-2" class="carousel-control next control-1">›</label>
                <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                <label for="carousel-3" class="carousel-control next control-2">›</label>
                <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                <label for="carousel-1" class="carousel-control next control-3">›</label>
                <ol class="carousel-indicators">
                    <li>
                        <label for="carousel-1" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-2" class="carousel-bullet">•</label>
                    </li>
                    <li>
                        <label for="carousel-3" class="carousel-bullet">•</label>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>


<!-- ------------------- -->

<footer class="text-gray-700 body-font bg-black">
    <div class="border-t border-gray-200 px-16">
        <div class="container px-5 py-8 flex flex-wrap mx-auto items-center">
            <div class="flex md:flex-no-wrap flex-wrap justify-center md:justify-start">
                <input
                    class="sm:w-64 w-40 bg-gray-100 rounded sm:mr-4 mr-2 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base py-2 px-4"
                    placeholder="Placeholder" type="text">
                <button
                    class="inline-flex text-white bg-red-600 border-0 py-2 px-6 focus:outline-none hover:bg-red-700 rounded">Subscribe</button>
                <p class="text-white text-sm md:ml-6 md:mt-0 mt-2 sm:text-left text-center">Bitters chicharrones
                    fanny pack
                    <br class="lg:block hidden">waistcoat green juice
                </p>
            </div>
            <span class="inline-flex lg:ml-auto lg:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto">
                <a class="text-white cursor-pointer">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
                <a class="ml-3 text-white cursor-pointer">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <a class="ml-3 text-white cursor-pointer">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 text-white cursor-pointer">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </div>

</footer>