<header class="text-gray-700 body-font px-8 shadow-lg">
    <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center">
        <a routerLink="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-600 rounded-full"
                viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-2xl">Prep.in</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">

        </nav>
        <button
            class="inline-flex items-center bg-red-600 border-0 py-1 px-3 mx-2 focus:outline-none hover:bg-red-700 text-base mt-4 md:mt-0 text-white rounded">Log
            In
        </button>
        <button
            class="inline-flex items-center bg-red-600 border-0 py-1 px-3 mx-2 focus:outline-none hover:bg-red-700 text-base mt-4 md:mt-0 text-white rounded">Sign
            Up
        </button>
    </div>
</header>