<!-- <span *ngIf="!testService.termsAgreed">
    <app-instructions></app-instructions>
</span>

<span *ngIf="!testService.testCreated && testService.termsAgreed">
    <app-create-test></app-create-test>
</span>

<span *ngIf="!testService.testDirectionsChecked && testService.testCreated && testService.termsAgreed">
    <app-test-direction></app-test-direction>
</span>

<span *ngIf="!testService.modulesChecked && testService.testDirectionsChecked && testService.testCreated && testService.termsAgreed">
    <app-modules></app-modules>
</span>

<span *ngIf="!testService.moduleDescriptionChecked &&  testService.modulesChecked && testService.testDirectionsChecked && testService.testCreated && testService.termsAgreed">
    <app-module-description></app-module-description>
</span>

<span *ngIf="!testService.mcqCompleted && testService.moduleDescriptionChecked &&  testService.modulesChecked && testService.testDirectionsChecked && testService.testCreated && testService.termsAgreed">
    <app-mcq-test></app-mcq-test>
</span>

<span *ngIf="!testService.essayCompleted && testService.mcqCompleted && testService.moduleDescriptionChecked &&  testService.modulesChecked && testService.testDirectionsChecked && testService.testCreated && testService.termsAgreed">
    <app-essay-test></app-essay-test>
</span>

<span *ngIf="!testService.automataCompleted && testService.essayCompleted && testService.mcqCompleted && testService.moduleDescriptionChecked &&  testService.modulesChecked && testService.testDirectionsChecked && testService.testCreated && testService.termsAgreed">
    <app-automata-test></app-automata-test>
</span> -->

<span *ngIf="this.testService.instructions">
    <app-instructions></app-instructions>
</span>

<span *ngIf="this.testService.createTest">
    <app-create-test></app-create-test>
</span>

<span *ngIf="this.testService.testDirection">
    <app-test-direction></app-test-direction>
</span>

<span *ngIf="this.testService.modules">
    <app-modules></app-modules>
</span>

<span *ngIf="this.testService.moduleDescription">
    <app-module-description></app-module-description>
</span>

<span *ngIf="this.testService.mcq">
    <app-mcq-test></app-mcq-test>
</span>

<span *ngIf="this.testService.comprehension">
    <app-comprehension></app-comprehension>
</span>

<span *ngIf="this.testService.essay">
    <app-essay-test></app-essay-test>
</span> 

<span *ngIf="this.testService.automata">
    <app-automata-test></app-automata-test>
</span>

<span *ngIf="this.testService.moduleCompleted">
    <app-module-completed></app-module-completed>
</span>

<span *ngIf="this.testService.resultCharts">
    <app-chart></app-chart>
</span>


