<div class="bg-gray-200">
    <div class="py-4 text-gray-500 lg:mx-8 md:mx-4 sm:mx-2">
        <div class="flex items-center text-2xl bg-gray-200">
            <div class="flex"><b>English Comprehension | <span class="text-lg">Question 10 out of 10</span></b></div>
            <div class="flex-1 text-right">
                <b>
                    <i class="fa fa-clock-o mx-2" aria-hidden="true"></i>
                    {{counter | formatTime}}
                </b>
            </div>
        </div>
        <div class="flex bg-white text-black my-4 ">
            <div class="w-1/2 border">
                <div class="text-blue-500 my-3 px-4">
                    <b>Passage : </b>
                </div>
                <div class="flex px-4" style="height:400px;overflow:scroll">
                    Civil Services offer an attractive and challenging career to the ambitious, the aspiring and the
                    talented. Indian civil services pave the way for becoming an IAS, IPS or IFS officer. The Indian
                    civil services is considered as one of the premier services which paves the way for becoming an IAS,
                    IPS or IFS officer. Civil Services offer an attractive and challenging career to the ambitious, the
                    aspiring and the talented. The wide variety of jobs within the fold of the Civil Services have
                    relatively greater sphere of authority and power than any other services in India.


                    The services encompass all one can aspire for: prestige, job security, salary package, opportunity
                    of foreign tour, job satisfaction, etc. Civil servants in one way decide the fate of the nation as
                    the implementation of all developmental and other government policy rest with them. If we talk of
                    prestige and respect this is the most prestigious and respectful job of India as it is a job which
                    provides an opportunity to satisfy personal ambition as well as indulge in social welfare. The
                    selection as civil servants is rigorous and only a handful is selected out of hundreds and thousands
                    of aspirants every year. There is diversity of work- a wide variety of work is associated with civil
                    services, like maintenance of law and order, developmental work, disaster management, representing
                    India on international forum, administration, upliftment and empowerment of marginalized sections of
                    society etc. There is a deep sense of job security as a civil servant cannot be fired easily. Once
                    selected, a civil servant works till the age of 60 and is possible for him to get an extension. As
                    far as salary package is concerned, the 6th pay commission has brought the salaries of the Civil
                    Servants at par with those in the corporate sector.

                    The facilities and amenities provided to an officer are excellent. A remarkable thing about civil
                    services is that it provides opportunity to contribute effectively in the decision making process of
                    country. The talented ones also get to represent the nation at world forums. A person who wants to
                    participate closely in the process of building society and wants to bring about positive social
                    change should definitely try to crack the IAS examination. The aspirants of Civil Services favor the
                    top three services namely- IAS, IPS and IFS as these services hold within their fold the vast scope
                    to use bestowed power to bring about societal development. Also, these services are much sought
                    after as they are symbols of great power, social recognition and affluence.
                </div>
            </div>
            <div class="w-1/2 border">
                <div class="flex items-center px-2 py-4">
                    <div class="flex px-2"><img src="/assets/images/i-icon.png" height="30px" width="30px"></div>
                    <div class="flex text-blue-600">
                        Read the passage and anser the questions.
                    </div>
                </div>
                <div class="container py-8 mx-auto">
                    <div class="-my-8">
                        <div class="pt-3">
                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                                Question
                            </button>
                            <hr>
                        </div>
                    </div>
                </div>
                <p class="py-4 mx-8">which of the follwing is meaning of INDESCENT?</p>
                <div class="mx-8 py-2 mb-16">
                    <input type="radio" id="option1" name="option1" value="male">
                    <label for="option1" class="ml-3">Reliable</label><br>

                    <input type="radio" id="option2" name="option1" value="female">
                    <label for="option2" class="ml-3">Honest</label><br>

                    <input type="radio" id="option3" name="option1" value="male">
                    <label for="option3" class="ml-3">Pudent</label><br>

                    <input type="radio" id="option4" name="option1" value="male">
                    <label for="option4" class="ml-3">Stupid</label><br>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="text-center py-4">
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 mx-2 rounded">
            <i class="fa fa-check-circle" aria-hidden="true"></i> Confirm Answer
        </button>
        <button (click)="submitComprehension()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-2 rounded">
            <i class="fa fa-play-circle" aria-hidden="true"></i> Submit Answer
        </button>
    </div>
</div>