<div class="bg-gray-200 py-8">
    <section class="text-gray-700 body-font overflow-hidden border bg-white lg:mx-48 md:mx-24 sm:mx-16">
        <div class="container py-8 mx-auto">
            <div class="-my-8">
                <div class="pt-4">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Terms and Conditions
                    </button>
                    <hr>
                </div>
                <div class="pt-4 px-5 flex flex-wrap md:flex-no-wrap">
                    <div class="md:flex-grow">
                        <p class="leading-relaxed">The content of this page is confidential. We owns intelectual rights
                            as defined
                            by
                            law. To ensure the confidentiality, you must agree to the following terms and conditions
                            before taking the
                            test : </p>
                        <ul class="list-disc mb-10 ml-5">
                            <li>
                                <p class="text-gray-600 hover:text-gray-800">You will not record, copy, publish or share
                                    any part of the
                                    test questions or answers in any form ( verbal, written) or by any means (manual,
                                    electronic) for any
                                    purpose.</p>
                            </li>
                            <li>
                                <p class="text-gray-600 hover:text-gray-800">You acknowledge that the test will be taken
                                    solely by you,
                                    and that you will not consult any third person or use any other online or offline
                                    resource</p>
                            </li>
                            <li>
                                <p class="text-gray-600 hover:text-gray-800">You will receive warnings if prohibited
                                    behaviour is
                                    detected. Multiple instances of prohibited behavior will result in automatic
                                    shut-down of the test and
                                    rejection of your application.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mx-4 -py-4">
                    <input type="radio" id="male" name="gender" value="male" (click)="agree()">
                    <label for="male" class="ml-3">I have read and agree to the terms and conditions</label><br>
                    <input type="radio" id="female" name="gender" value="female" (click)="disagree()">
                    <label for="female" class="ml-3">I do not agreed to the terms and conditions. I understand that I
                        will not be able to take the test.</label><br>
                </div>
                <div class="text-center py-8">

                    <button *ngIf="this.flag" (click)="termsAgreed()"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-700 rounded">
                        <i class="fa fa-file-text"></i> &nbsp;Start New Test
                    </button>
                    <button *ngIf="!this.flag"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed">
                        <i class="fa fa-file-text"></i> &nbsp;Start New Test
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>